<div class="bg-white">
  <!-- Background color split screen for large screens -->
  <div class="hidden lg:block fixed top-0 left-0 w-1/2 h-full bg-white" aria-hidden="true"></div>
  <div class="hidden lg:block fixed top-0 right-0 w-1/2 h-full bg-gray-50" aria-hidden="true"></div>

  <header class="relative bg-white border-b border-gray-200 text-sm font-medium text-gray-700">
    <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
      <div class="relative flex justify-end sm:justify-center">
        <span class="absolute left-0 top-1/2 -mt-4">
          <span class="sr-only">Workflow</span>
          <img src="https://tailwindui.com/img/logos/workflow-mark.svg?color=indigo&shade=600" alt="" class="h-8 w-auto">
        </span>
        <nav aria-label="Progress" class="hidden sm:block">
          <ol role="list" class="flex space-x-4">
            <li class="flex items-center">
              <span>Cart</span>

              <!-- Heroicon name: solid/chevron-right -->
              <svg class="w-5 h-5 text-gray-300 ml-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
            </li>

            <li class="flex items-center">
              <span class="text-indigo-600">Shipping Information</span>

              <!-- Heroicon name: solid/chevron-right -->
              <svg class="w-5 h-5 text-gray-300 ml-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
            </li>

            <li class="flex items-center">
              <span>Billing Information</span>

              <!-- Heroicon name: solid/chevron-right -->
              <svg class="w-5 h-5 text-gray-300 ml-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
            </li>

            <li class="flex items-center">
              <span>Confirmation</span>
            </li>
          </ol>
        </nav>
        <p class="sm:hidden">Step 2 of 4</p>
      </div>
    </div>
  </header>

  <main class="relative grid grid-cols-1 gap-x-16 max-w-7xl mx-auto lg:px-8 lg:grid-cols-2 xl:gap-x-48">
    <h1 class="sr-only">Order information</h1>

    <section aria-labelledby="summary-heading" class="bg-gray-50 pt-16 pb-10 px-4 sm:px-6 lg:px-0 lg:pb-16 lg:bg-transparent lg:row-start-1 lg:col-start-2">
      <div class="max-w-lg mx-auto lg:max-w-none">
        <h2 id="summary-heading" class="text-lg font-medium text-gray-900">Order summary</h2>

        <ul role="list" class="text-sm font-medium text-gray-900 divide-y divide-gray-200">
          <li class="flex items-start py-6 space-x-4">
            <img src="https://tailwindui.com/img/ecommerce-images/checkout-page-04-product-01.jpg" alt="Moss green canvas compact backpack with double top zipper, zipper front pouch, and matching carry handle and backpack straps." class="flex-none w-20 h-20 rounded-md object-center object-cover">
            <div class="flex-auto space-y-1">
              <h3>Micro Backpack</h3>
              <p class="text-gray-500">Moss</p>
              <p class="text-gray-500">5L</p>
            </div>
            <p class="flex-none text-base font-medium">$70.00</p>
          </li>

          <!-- More products... -->
        </ul>

        <dl class="hidden text-sm font-medium text-gray-900 space-y-6 border-t border-gray-200 pt-6 lg:block">
          <div class="flex items-center justify-between">
            <dt class="text-gray-600">Subtotal</dt>
            <dd>$320.00</dd>
          </div>

          <div class="flex items-center justify-between">
            <dt class="text-gray-600">Shipping</dt>
            <dd>$15.00</dd>
          </div>

          <div class="flex items-center justify-between">
            <dt class="text-gray-600">Taxes</dt>
            <dd>$26.80</dd>
          </div>

          <div class="flex items-center justify-between border-t border-gray-200 pt-6">
            <dt class="text-base">Total</dt>
            <dd class="text-base">$361.80</dd>
          </div>
        </dl>

        <div class="fixed bottom-0 inset-x-0 flex flex-col-reverse text-sm font-medium text-gray-900 lg:hidden">
          <div class="relative z-10 bg-white border-t border-gray-200 px-4 sm:px-6">
            <div class="max-w-lg mx-auto">
              <button type="button" class="w-full flex items-center py-6 font-medium" aria-expanded="false">
                <span class="text-base mr-auto">Total</span>
                <span class="text-base mr-2">$361.80</span>
                <!-- Heroicon name: solid/chevron-up -->
                <svg class="w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
                </svg>
              </button>
            </div>
          </div>

          <div>
            <div class="fixed inset-0 bg-black bg-opacity-25" aria-hidden="true"></div>
            <div class="relative bg-white px-4 py-6 sm:px-6">
              <dl class="max-w-lg mx-auto space-y-6">
                <div class="flex items-center justify-between">
                  <dt class="text-gray-600">Subtotal</dt>
                  <dd>$320.00</dd>
                </div>

                <div class="flex items-center justify-between">
                  <dt class="text-gray-600">Shipping</dt>
                  <dd>$15.00</dd>
                </div>

                <div class="flex items-center justify-between">
                  <dt class="text-gray-600">Taxes</dt>
                  <dd>$26.80</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="pt-16 pb-36 px-4 sm:px-6 lg:pb-16 lg:px-0 lg:row-start-1 lg:col-start-1">
      <div class="max-w-lg mx-auto lg:max-w-none">
        <form [formGroup]="addressForm" (ngSubmit)="validate()">
          <section aria-labelledby="shipping-heading" class="mt-10">
            <h2 id="shipping-heading" class="text-lg font-medium text-gray-900">Shipping address</h2>

            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <label for="first" class="block text-sm font-medium text-gray-700">First name</label>
                <div class="mt-1">
                  <input type="text" id="first" name="province" class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" formControlName="firstName">
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="last" class="block text-sm font-medium text-gray-700">Last name</label>
                <div class="mt-1">
                  <input type="text" id="last" name="province" class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" formControlName="lastName">
                </div>
              </div>

              <div class="sm:col-span-6">
                <label for="company" class="block text-sm font-medium text-gray-700">Company</label>
                <div class="mt-1">
                  <input type="text" id="company" name="company" class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" formControlName="company">
                </div>
              </div>

              <div class="sm:col-span-6">
                <label for="address" class="block text-sm font-medium text-gray-700" [ngClass]="{'text-red-500 font-bold' : validated && line1?.errors?.required}">Address<span *ngIf="validated && line1?.errors?.required" class="italic"> is required.</span></label>
                <div class="mt-1">
                  <input type="text" id="address" name="address" autocomplete="street-address" class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" formControlName="line1">
                </div>
              </div>

              <div class="sm:col-span-6">
                <label for="apartment" class="block text-sm font-medium text-gray-700">Apartment, suite, etc.</label>
                <div class="mt-1">
                  <input type="text" id="apartment" name="apartment" class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" formControlName="line2">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="city" class="block text-sm font-medium text-gray-700" [ngClass]="{'text-red-500 font-bold' : validated && city?.errors?.required}">City<span *ngIf="validated && city?.errors?.required" class="italic"> is required.</span></label>
                <div class="mt-1">
                  <input type="text" id="city" name="city" class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" formControlName="city">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="state" class="block text-sm font-medium text-gray-700" [ngClass]="{'text-red-500 font-bold' : validated && state?.errors}">State<span *ngIf="validated && state?.errors?.required" class="italic"> is required.</span><span *ngIf="validated && state?.errors?.minlength" class="italic"> needs to be at least 2 letters.</span></label>
                <div class="mt-1">
                  <input type="text" id="state" name="province" class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" formControlName="state">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="postal-code" class="block text-sm font-medium text-gray-700" [ngClass]="{'text-red-500 font-bold' : validated && postalCode?.errors}">Postal code<span *ngIf="validated && postalCode?.errors?.required" class="italic"> is required.</span><span *ngIf="validated && postalCode?.errors?.minlength" class="italic"> needs to be at least 5 digits.</span></label>
                <div class="mt-1">
                  <input type="text" id="postal-code" name="postal-code" autocomplete="postal-code" class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" formControlName="postalCode">
                </div>
              </div>
            </div>
          </section>

          <div class="mt-10 pt-6 border-t border-gray-200 sm:flex sm:items-center sm:justify-between">
            <button class="w-full bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500 sm:ml-6 sm:order-last sm:w-auto" *ngIf="!submitting">Validate</button>
            <button class="w-full bg-gray-600 border border-transparent rounded-md shadow-sm py-2 px-4 text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500 sm:ml-6 sm:order-last sm:w-auto" *ngIf="submitting" disabled>Validating...</button>
            <p class="mt-4 text-center text-sm sm:mt-0 sm:text-left" [ngClass]="[error ? 'text-red-500' : 'text-green-500']">
              {{displayMessage}}
            </p>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
